# Audit Test Results

- Tap the CLIA Audit option (1) on the Test Suite of the Side Menu.

![](https://user-images.githubusercontent.com/105650529/170349207-26294f45-5331-422d-8395-5902f1bd3bd3.jpg)

- Search or Filter to find the Test Kit ID you are going to Audit (2). Search functionality include patient data.

![](https://user-images.githubusercontent.com/105650529/170349220-4652d0e9-56ec-4f9b-be57-db12742a8887.jpg)

{% hint style="info" %} The CLIA Audit list will only show tests pending to be reviewed. If the list is empty that means there are no tests to be 
reviewed. {% endhint %}

- Check if the Test Results and the Downloaded Test Cassette File (3) match.

- Accept/Reject the CLIA Audit Result (4) and tap the Save button (5).

![](https://user-images.githubusercontent.com/105650529/170349215-8c593025-7193-4375-9be9-c337aaa3432d.jpg)

{% hint style="info" %} Reject a test result if the submitted test results and the test result in the image or pdf does not match, contact the 
administration if the patient needs to be retested. A rejected CLIA Review test is recorded as rejected and its positive or negative test result won’t be 
included in the overall test results. {% endhint %}

{% hint style="info" %} You can add Additional Result Notes (6) in order to disambiguate special cases. {% endhint %}
