# Settig a Timer for the Test Result

- You can set the minimum minutes needed before completing the Test (1).

- With this parameter you can define how long a HCP needs to wait until a test can be completed.

- This should reduce fraud or completing the test too early.

![](https://user-images.githubusercontent.com/105650529/170289624-1cb6005e-b95a-4630-b78d-4775fa17930d.jpg)
