# Downloading Patient's Test Reult

- In the Patient Info screen (1) select a patient (2) and click on the Test History tab (3) to find the patient Test Kit (4). 

![](https://user-images.githubusercontent.com/105650529/170549129-3e2fdc76-0fb3-4d0e-bee8-f6103b944ea9.jpg)
![](https://user-images.githubusercontent.com/105650529/170549136-3eca68d3-bdbf-4a93-aecf-124e0a7a5891.jpg)

- Admin can download (5) or resend (6) the file the patient has received.

![](https://user-images.githubusercontent.com/105650529/170549148-59c1478a-d7c9-4f0c-9beb-f76928f02fb8.jpg)

